.advert-details-body {
    background: transparent;
	padding: 50px;
    height: max-content;
}

.advert-detail-data{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5%;
    margin-top: 50px;
    min-height: 700px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.advert-data{
    width: 90%;
    display: flex;
    flex-direction: row;
}

.basic-data{
    margin-left: 10%;
    margin-right: 30%
}

.application-advert{
    margin-left: 80%;
}

.detail-name-label{
    position: relative;
	margin-bottom: 20px;
    margin-left: 25%;
	font-size: 22px;
	font-weight: bold;
}

.detail-label{
    position: relative;
	margin-bottom: 10px;
	font-weight: bold;
    color: rgba(39, 24, 24, 0.658);
	padding: 8px;
}

.detail-input, .detail-input-edit {
	position: relative;
	display: flex;
	flex-direction: row;
	border: none;
	outline: none;
	border-radius: 10px;
	padding: 0.8rem 1.6rem 0.8rem;
	margin-bottom: 30px;
	margin-top: 10px;
	background: rgba(255, 255, 255, 0.7);
	font-size: 15px;
	font-weight: bold;
	min-width: 250px;
	max-width: 300px;
	height: fit-content;
	word-wrap: break-word;
    resize: none;
	
}

.detail-input-edit {
    color: rgba(39, 24, 24, 0.658);
}

.detail-input {
	color: rgba(77, 74, 74, 0.5);
}


.detail-button {
	position: relative;
    color: rgb(255, 255, 255);
    border: none;
	border-radius: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 10px;
	margin-right: 20%;
    letter-spacing: 3px;
	height: 50px;
	background: #e6965d;
    cursor: pointer;
}

.detail-button:hover {
    background: #d4610f;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 5px #d1545b,
                0 0 25px #b65607,
                0 0 50px #532805;
  }

  .advert-detail-title{
    position: relative;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 25px;
	font-weight: bold; 
    color: rgb(85, 52, 47);
  }

  .owner-image{
    position: relative;
    height: 300px;
    width: 300px;
    display: block;
    border-radius: 50%;
    background: #f5e8df;
    cursor: pointer;
}

.application-button {
	position: relative;
    color: rgb(255, 255, 255);
    border: none;
	border-radius: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 10px;
	margin-right: 20%;
    letter-spacing: 3px;
	height: 50px;
	background: #a19e9b;
}
.tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
}

.tag {
    margin-left: 10px;
}