.companyPage {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    background: rgba(255, 255, 255, 0.4);
}

.company-profile {
    padding: 1.5rem;
   width: 30%;
}

.company-table{
    color: rgb(53, 12, 6);
}
.company-table {
    height: 100%;
    
}
.company-table li {
    border-radius: 3px;
    padding: 25px 35px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-right: 50px;
}
.company-table .table-header {
    background-color: transparent;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-bottom: -10px;
}
.company-table .table-row {
    background-color: rgba(255, 255, 255, 0.8);
}
.company-table .col-1 {
    flex-basis: 20%;
}
.company-table .col-2 {
    flex-basis: 35%;
}
.company-table .col-3 {
    flex-basis: 15%;
}
.company-table .col-4 {
    flex-basis: 15%;
}
.company-table .col-5 {
    flex-basis: 15%;
}
.company-image{
    position: relative;
    height: 300px;
    width: 300px;

}

.company-tabs{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    color: #ffff;
}
.company-table-header {
    margin-bottom: 0px;
    margin-top: 50px;
    text-align: center;
    color: #ffff;
}


.companyLabel{
    font-size: 15px;
    margin-top: 20px;
}

.companyValue{
	font-size: 20px;
}

.accept-user-button{
    border: none;
    cursor: pointer;
    background: transparent;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
    text-transform: uppercase;
    flex-basis: 15%;
}

.accept-user-button:hover {
    background: #d47944;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #d1545b,
                0 0 10px #b65607,
                0 0 15px #884209;
}

.no-data-header{
    text-align: center;
    margin-right: 25px;
}
