.panelListBody {
	background: transparent;
	padding: 50px;
    height: max-content;
}

.panelTabs {
	display: block;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	overflow: hidden;
}

.panelTabs [class^="tab"] label,
.panelTabs [class*=" tab"] label {
	color: #ffffff;
	cursor: pointer;
	display: block;
	font-size: 18px;
	text-transform: uppercase;
	line-height: 1em;
	padding: 2rem 0;
	text-align: center;
}

.panelTabs [class^="tab"] [type="radio"],
.panelTabs [class*=" tab"] [type="radio"] {
	border-bottom: 1px solid rgba(163, 120, 84, 0.5);
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: block;
	width: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.panelTabs [class^="tab"] [type="radio"]:hover,
.panelTabs [class^="tab"] [type="radio"]:focus,
.panelTabs [class*=" tab"] [type="radio"]:hover,
.panelTabs [class*=" tab"] [type="radio"]:focus {
	border-bottom: 1px solid #d84d0c;
}

.panelTabs [class^="tab"] [type="radio"]:checked,
.panelTabs [class*=" tab"] [type="radio"]:checked {
	border-bottom: 2px solid #d84d0c;
}

.panelTabs [class^="tab"] [type="radio"]:checked+div,
.panelTabs [class*=" tab"] [type="radio"]:checked+div {
	opacity: 1;
}

.panelTabs [class^="tab"] [type="radio"]+div,
.panelTabs [class*=" tab"] [type="radio"]+div {
	opacity: 0;
	padding: 2rem 0;
	width: 90%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.panelTabs .tab-2 {
	width: 25%;
}
.panelTabs .tab-2 [type="radio"]+div {
	width: 400%;
}

.tab-2-2 [type="radio"]:checked+div {
	margin-left: -100%;
}

.tab-2-3 [type="radio"]:checked+div {
	margin-left: -200%;
}
.tab-2-4 [type="radio"]:checked+div {
	margin-left: -300%;
}


h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
}
h2 small {
    font-size: 0.5em;
}
.responsive-table {
    height: 100%;
}
.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.responsive-table .table-header {
    background-color: transparent;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.responsive-table .table-row {
    background-color: rgba(255, 255, 255, 0.8);
}
.responsive-table .col-1 {
    flex-basis: 20%;
}
.responsive-table .col-2 {
    flex-basis: 35%;
}
.responsive-table .col-3 {
    flex-basis: 15%;
}
.responsive-table .col-4 {
    flex-basis: 15%;
}
.responsive-table .col-5 {
    flex-basis: 15%;
}