.menuContainer {
    position: static;
    height: 70px;
}
.navMenu {
  position: relative;
  top: 50%;
  right: 50%;
  left: 50%;
  align-content: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
    position: relative;
    display: inline;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    letter-spacing: 3px;
    width: 100%;
}

.navMenu a:hover {
    background: #ca5a1a;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #d1545b,
                0 0 25px #b65607,
                0 0 50px #884209;
}

.nav-login{
    position: fixed;
    color: #ffffff;
    background: transparent;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    left: 90%;
}

.menuContainer button:hover {
    background: #ca5a1a;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #c5abac,
                0 0 25px #b65607,
                0 0 50px #884209;

}