body {
	background: linear-gradient(-45deg, #db2d2d, #f08040, #ec9f57, #fde1c6);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}